body {
    background-image: url('E://Code//Projects//MockMate//login-signup//src//Components//LoginSignup//bluecyber.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 100px;
    width: 550px;
    background: white;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: blue;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height:6px;
    background: blue;
    border-radius: 9px;
}

.inputs{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height:80px;
    background: white;
    border-radius: 6px;
}

.input img{
    margin: 0px;
}

.input input{
    height:50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 19px;
}


.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: grey;
    font-size: 18px;
}

.forgot-password span{
    color: blue;
    cursor:pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.main-button{
    background: blue;
}

.secondary-button{
    background: rgb(193, 193, 255);
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height:59px;
    color: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: white;
    color: #676767;
}

.message{
    display: flex;
    justify-content: center;
}